body {

    background-color: white;
    font-family: 'Raleway', sans-serif;
}


<meta name="viewport" content="width=device-width, initial-scale=1" > {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


#wrap {
    overflow: hidden;
    position: relative;

}

.topnav {
    float: left;
    position: absolute;
    top: 0;
    width: 100;


}

.topnav ul {

    position: relative;
    list-style: none;
    overflow: hidden;
    top: 1em;
    width: 100%;
    padding: 0px 0px 0px 0px;


}

.topnav li {
    float: left;
    font-family: 'Raleaway', sans-serif;
    text-align: center;
    text-decoration: none;

}

.topnav a {
    float: left;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

.topnav a:hover {
    background-color: rgba(122, 227, 154, 0.28);
}

hr {
    width: 100%;
    height: 2px;
    background-color: #101010;
    border: none;
}


body,
html {
    height: 100%;
}

.bg {

    background-image: url("forside.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.tekst {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex: 33.33%;
    padding: 10px;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
}


.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(185, 186, 186, 0.9);
    border-radius: 0.5em;
}

.container:hover .overlay {
    opacity: 1;
}


.flex-container {

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(172, 173, 173, 0.09);
}

a {
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
}

.image {
    border-radius: 0.5em;
    align-items: flex-end;
    width: auto;
    height: auto;

}
