body {

    background-color: white;
}


#wrap {
    overflow: hidden;
    position: relative;

}

#topnav {
    float: left;
    position: absolute;


}

#topnav ul {

    position: relative;
    list-style: none;
    overflow: hidden;
    top: 1em;
    width: 100%;
    padding: 0px 0px 0px 0px;


}

#topnav li {
    float: left;
    font-family: 'Raleaway', sans-serif;
    text-align: center;
    text-decoration: none;

}

#topnav a {
    float: left;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.31);
}

hr {
    width: 100%;
    height: 2px;
    background-color: #101010;
    border: none;
}


body,
html {
    height: 100%;
}

.bg {

    background-image: url("forside.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
