body {

    background-color: white;
    font-family: 'Raleway', sans-serif;
}


<meta name="viewport" content="width=device-width, initial-scale=1" > {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}



#wrap {
    overflow: hidden;
    position: relative;

}

.topnav {
    float: left;
    position: absolute;
    top: 0;
    width: 100;


}

.topnav ul {

    position: relative;
    list-style: none;
    overflow: hidden;
    top: 1em;
    width: 100%;
    padding: 0px 0px 0px 0px;


}

.topnav li {
    float: left;
    font-family: 'Raleaway', sans-serif;
    text-align: center;
    text-decoration: none;

}

.topnav a {
    float: left;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

.topnav a:hover {
    background-color: rgba(244, 201, 216, 0.42);
}

hr {
    width: 50%;
    height: 1px;
    background-color: #101010;
    border: none;

}


body,
html {
    height: 100%;
}

.bg {

    background-image: url("forside.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.h2 {
    max-width: 30em;
    text-align: center;
}

.tekst {
    max-width: 40em;
    text-align: center;
}

.punkter {
    text-align: center;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

}

.container:hover .overlay {
    opacity: 1;
}

a {
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
}

.image {
    border-radius: 1em;
    align-items: flex-end;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;


}
